on init
	stop ldconfigtxt
	start patchlevel

on fs
    # needed to make qseecomd work in recovery
    chmod 0660 /dev/qseecom
    chown system drmrpc /dev/qseecom
    chmod 0664 /dev/ion
    chown system system /dev/ion

on property:ro.crypto.state=encrypted && property:twrp.mount_to_decrypt=1 && property:crypto.ready=1
    start sbinqseecomd

#############################################################
#															#
#   Note: On AB devices using vold decrypt, system			#
#	needs to be mounted at /system_root, and then the		#
#	below mount needs to be included here so the			#
#	binaries can be found and linker will work properly		#
#															#
#############################################################
on property:vold_decrypt.symlinked_vendor=1
	mount /system_root/system /system

on property:ro.crypto.fs_crypto_blkdev=* && property:twrp.mount_to_decrypt=0
	wait /data/cache

	# Need to free up the /system path for install zips to use
	# Also bind mount /data/cache to /cache
	start mounts

	setprop crypto.ready 0
    stop sbinqseecomd

service patchlevel /sbin/patchlevel.sh
	user root
	group root
    disabled
    oneshot
	seclabel u:r:recovery:s0

service sbinqseecomd /sbin/qseecomd
	user root
	group root
    setenv LD_LIBRARY_PATH /vendor/lib64:/sbin
    disabled
    oneshot
	seclabel u:r:recovery:s0

service mounts /sbin/mounts.sh
	user root
	group root
    disabled
    oneshot
	seclabel u:r:recovery:s0
